@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Mouse+Memoirs&display=swap');

*{
  font-family: 'Mouse Memoirs', sans-serif;
}

nav{
  display: flex;
  align-items: center;
  background-color: #57a8cc;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  color: antiquewhite;
}

nav h1{
  margin-right: auto;
  margin-left: 24px;
  font-size: xx-large;
  font-weight: 900;
  letter-spacing: 0.5rem;
}

nav a{
  margin-right: 5rem;
  font-size: 3rem;
  text-decoration: none;
  color: antiquewhite;
}

nav > a:hover{
  color: #b7e9ff;
} 

li{
  list-style-type: none;
}

body{
  padding: 0;
  margin: 0;
  background-color: #f3f1f1;
}

footer{
  display: block;
  position: absolute;
  bottom: 1rem;
  text-align: center;
  width: 100%;
}

p{
  padding: 20px;
}

main{
  display: flex;
  padding: 36px 24px;
}

main p{
  max-width: 400px;
}

.game-card{
  /* background-color: #57a8cc; */
  background: linear-gradient(148deg, rgba(87,168,204,1) 0%, rgba(138,205,233,1) 66%, rgba(217,237,246,1) 100%);
  color: white;
  text-shadow: 1px 1px 1px black;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  align-items: center;
  max-width: 200px;
  border:1px solid white;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
  margin-left: 1rem;
}

.game-card > p{
  padding-top: 0px;
  margin-top: 0px;
}

.game-card > h1{
  padding-bottom: 0px;
}

.login-form{
  display: flex;
  flex-direction: column;
  margin: 10% 20%;
}

.game-card:hover{
  background: linear-gradient(148deg, rgb(0, 101, 145) 0%, rgb(52, 160, 206) 66%, rgb(80, 181, 228) 100%);
  cursor: pointer;
}

.login-form > input{
  margin-bottom: 1rem;
  height: 3rem;
  background-color: white;
  border: 1px solid #57a8cc;
  border-radius: 12px;
  padding-left: 2rem;
  font-size: x-large;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

.login-form > button{
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 3rem;
  background-color: #57a8cc;
  border: 1px solid #3ab7ec;
  border-radius: 12px;
  padding-left: 2rem;
  font-size: x-large;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
  color: white;
}

.login-form > button:hover{
  background-color: #3ab7ec;
}

::placeholder{
  color:#57a8cc;
}

.flippers-container{
  display: block;
  position: absolute;
  bottom: 10%;
}
 
.flippers {
  display: flex;
  justify-content: space-around;
  /* margin-top: 20%; */
}

.flipper{
  border: #3ab7ec solid 2px;
  padding: 0.1rem  2rem;
  border-radius: 16px;
  font-size: xx-large;
  margin: 0rem 1rem;
}

.flipper:hover{
  background-color: #c2ecff;
}

.shut-box{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lose-container{
  position: absolute;
  align-items: center;
  justify-content: center;
}

.lose-container > h1{
  font-size: 4rem;
  color: red;
  margin-bottom: 0px;
}

.lose-container > {
  font-size: 2rem;
  margin-top: 0px;
}

.starte-game-button{
  margin-top: 15rem;
  margin-bottom: 1rem;
  height: 3rem;
  background-color: #57a8cc;
  border: 1px solid #3ab7ec;
  border-radius: 12px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: x-large;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
  color: white;
}

.dice-container{
  display: flex;
}

.die{
  /* margin-top: 15rem;
  margin-bottom: 1rem; */
  display: flex;
  align-items: center;
  height: 4rem;
  margin: 15rem 1rem 1rem 1rem;
  background-color: #57a8cc;
  border: 1px solid #3ab7ec;
  border-radius: 12px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: x-large;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
  color: white;
  font-size: xx-large;
}

